<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="template" value="https://pkgs.dev.azure.com/template/_packaging/template-feed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <template>
      <add key="Username" value="username@template.com" />
      <add key="ClearTextPassword" value="templatePassword" />
    </template>
  </packageSourceCredentials>
</configuration>